@font-face {
    font-family: Roboto;
     src: url("assets/fonts/Roboto/Roboto-Thin.ttf");
   }
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
  }
* {
    box-sizing: border-box;
  }

.header {
    border: 0px solid rgb(255, 255, 255);
}

.main {
    border: 60px solid rgb(255, 255, 255);
}

.footer {
    border: 0px solid rgb(255, 255, 255);
    background-image: url("./assets/img/background_2.jpeg");
    color: #ffffff;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    color: #ffffff;
    font-size: 16pt;
    text-decoration: none;
  }

  html {
    scroll-behavior: smooth; 
  }

  .section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #4119c2;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

  .nav {
    background-image: url("./assets/img/background_2.jpeg");
    border: 10px solid rgb(10, 42, 86);
  }

  .avatar {
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 10px double rgb(0, 0, 0);
  }

  .list-item {
    list-style-type: circle;
    padding: 0 1px;
    line-height: 35px;
    transition: .3s;
    color: #000000;
    font-size: 16pt;
    text-decoration: none;
  }

  .main-title {
    padding: 0 1px;
    line-height: 5px;
    color: rgb(0, 0, 0);
    font-size: 16pt;
    text-decoration: none;
  }

  .subtitle {
    padding: 0 1px;
    line-height: 5px;
    color: #000000;
    font-size: 16pt;
    text-decoration: none;
  }

  .text {
    padding: 0 1px;
    line-height: 30px;
    color: #000000;
    font-size: 16pt;
    text-decoration: none;
  }

  .text-code {
    font-size: 16pt;
  }

  .text-footer {
    padding: 0 60px;
    line-height: 60px;
    color: #ffffff;
    font-size: 16pt;
    text-decoration: none;
    margin: 0 auto;
  }

  .rss {
    width: 120px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  h2 {
    color: rgb(0, 0, 0);
  }

  #courses {border-top-style: groove; border-top-color: rgb(10, 42, 86)}
  #code {border-top-style: groove; border-top-color: rgb(10, 42, 86)}
  #projects {border-top-style: groove; border-top-color: rgb(10, 42, 86)}
  #education {border-top-style: groove; border-top-color: rgb(10, 42, 86)}
  #summary {border-top-style: groove; border-top-color: rgb(10, 42, 86)}
  #skills {border-top-style: groove; border-top-color: rgb(10, 42, 86)}